section.textSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    img {
        width: 500px;
    }

    .text{
        width: 500px;
        
        h1 {
            color: #b572d5;
            font-size: 64px;
            margin-bottom: 20px;
        }
        
        p {
            font-size: 18px;
        }
    }
}
