section.textSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    img.img_large {
        width: 400px;
    }

    img.img_small {
        width: 200px;

        border-radius: 100%;
    }

    .text{
        width: 400px;
        
        h2 {
            color: #b572d5;
            font-size: 48px;
            margin-bottom: 20px;
        }
        
        p {
            font-size: 18px;
            margin-bottom: 20px;
        }

        li {
            font-size: 18px;
            margin-bottom: 15px;
        }
    }

    ul {
        list-style: disc;

        width: 400px;

        li{
            margin-bottom: 20px;
            font-size: 24px;
            color : #b572d5;
        }
    }
}
